@import '../../../assets/scss/constants.scss';
.div-container {
  color: $green_color;
  text-align: center;
}

.text-container {
  font-size: 7rem;
  margin: 10% 0;
}

.status-container {
  font-size: 15rem;
}
