<div class="card">
    <img src="../../../assets/products/{{imgName}}">
    <div class="description" >
        <p>{{name}}</p>
        <p>kilo: {{price}} JOD</p>
    </div>
    <div class="btnContainer">
        <div>
            <button class="btn" [disabled]="!authorizedUser"  >
                <img src="../../../assets/svg/remove.svg" alt="remove" class="remove" >
            </button>    
        </div>
        <div>
            <button class="btn" [disabled]="!authorizedUser" >
                <img src="../../../assets/svg/add.svg" alt="add" class="add" >
            </button>
        </div>
    </div>
</div>