<div class="card">
    <img src="../../../assets/products/{{imgName}}">
    <div class="description" >
        <p>{{name}}</p>
        <p>kilo: {{price}} JOD</p>
    </div>
    <div class="btnContainer">
        <div>
            <button class="btnSecondary">
                <img src="../../../assets/svg/remove.svg" alt="" class="remove" >
            </button>    
        </div>
        <div>
            <button class="btnPrimary" >
                <img src="../../../assets/svg/add.svg" alt="" class="add" >
            </button>
        </div>
    </div>
</div>