@import "../../../assets/scss/constants.scss";
.order {
    margin: 1rem;
    border-bottom: 0.25em dashed $green_color;
    padding-bottom: 0.5rem;
    ul {
       list-style: none;
    }
}
.center{
    text-align: center;
}
.active {
    background-color: $blue_color;
}
