<ng-container *ngIf="!isOnline">
  <app-no-internet></app-no-internet>
</ng-container>
<ng-container *ngIf="isOnline">
  <ng-container *ngIf="isAdminUser">
    <!-- below links should be added in index.html page but
       because not the whole app using material library they added here  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />
    <div class="mat-typography admin_container mat-app-background">
      <app-layout>
        <router-outlet></router-outlet>
      </app-layout>
    </div>
  </ng-container>
  <ng-container *ngIf="!isAdminUser">
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
