<ng-container *ngIf="customersDataExist">
  <div class="cards-container">
    <mat-card
      *ngFor="
        let customer of (customersList | async).customersList;
        let i = index
      "
      class="card">
      <mat-card-title>{{ customer.userName }}</mat-card-title>
      <mat-card-subtitle>{{ customer.email }}</mat-card-subtitle>
      <mat-card-subtitle>{{ customer.gender }}</mat-card-subtitle>
      <mat-card-content>
        <p>{{ customer.firstName }} {{ customer.lastName }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary">CONTACT</button>
        <button
          mat-stroked-button
          color="accent"
          (click)="openDialog(customer)">
          REMOVE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
