@import '../../../../../assets/scss/constants.scss';

.login {
  font-size: 20px;
}
.container {
  margin-top: 30px;
}

.block {
  display: block;
}
.emailLabel {
  margin-right: 40px;
}
.passwordLabel {
  margin-right: 16px;
}
.fieldContainer {
  margin: 15px;
}
.btnsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
